.head__usluga {
  &-content {
    padding-top: 285px;
    display: flex;
  }
  &-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 36px;  
    margin: 30px 0 40px 0;
    text-transform: uppercase;
  }
  &-subtitle {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    width: 90%;
    strong {
      font-weight: 500;
    }
  }
  &-btn-wrapper {
    margin: 70px 0 40px 0;
  }
}
.head__usluga-img {
  width: 50%;
  position: relative;
  img {
    position: absolute;
    width: 864px;
    height: 938px;
    display: block;
    object-fit: cover;
    top: -285px;
  }
}
.price__inside {
  padding: 260px 0 50px 0;
  &-content {
    position: relative;
  }
  &-abs {
    position: absolute;
    top: -70px;
    right: 340px;
    width: 197px;
    height: 197px;
    z-index: 10;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation-name: img-circle;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  &-wrapper {
    display: flex;
    gap: 53px;
    margin-top: 72px;
  }
  &-info {
    width: 67%;
  }
  &-usluga {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &-items {
    margin: 50px 0;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(46, 46, 46, 0.2);
    padding-bottom: 23px;
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
    &-text {
      font-size: 24px;
    }
    &-price {
      font-size: 24px;
      color: #FCC9C9;
      strong {
        font-weight: 600;
      }
    }
  }
  &-img {
    width: 347px;
    height: 476px;
    border: 1px solid rgba(252, 201, 201, 1);
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.list {
  &__items {
    display: flex;
    gap: 42px;
  }
  &__item {
    padding: 39px 23px 39px 60px;
    width: 50%;
    &-title {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 35px;
      text-transform: uppercase;
    }
    &-li {
      font-size: 20px;
      margin-bottom: 20px;
      list-style: disc;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
}
.list__item.pokaz {
  background: rgba(251, 214, 202, 0.33);
  & .list__item-li::marker {
    color: #FCC9C9;
    font-size: 25px;
  }
}
.list__item.proti {
  background: rgba(46, 46, 46, 0.04);
  & .list__item-li::marker {
    color: rgba(102, 119, 112, 0.57);
    font-size: 25px;
  }
}
.video {
  padding: 80px 0;
  &__content {
    display: flex;
    align-items: center;
    gap: 82px;
  }
}
.video__info {
  &-title {
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 28px;
    span {
      color: #FCC9C9;
    }
  }
  &-text {
    font-size: 24px;
    width: 60%;
    strong {
      font-weight: 600;
    }
  }
}
.video__wrapper {
  position: relative;
  &-img {
    width: 453px;
    height: 298px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &-abs {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(37, 39, 44, 0.22);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      width: 43px;
      height: 51px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
}
.pulse-button__rings.second {
	bottom: -2px;
}
.pulse-button__rings {
  border: 1px solid #FCC9C9;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 33%;
  left: 0;
  right: 8px;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation-duration: 2.0s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
}
.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}
.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}
@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
 
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
 
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
 
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}
.faq__items {
  margin-top: 65px;
}
.faq__item {
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
  &-plug {
    position: relative;
    padding-bottom: 30px;
    cursor: pointer;
    &-title {
      font-size: 22px;
      font-weight: 500;
      line-height: 120%;
    }
    &-plus {
      span {
        height: 2px;
        width: 35px;
        background: rgba(46, 46, 46, 0.5);
        position: absolute;
        top: 25%;
        right: 30px;
        border-radius: 50px;
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          border-radius: 50px;
          background: rgba(46, 46, 46, 0.5);
          transform: rotate(90deg);
          transition: all 0.5s ease;
        }
      }
    }
  }
  &-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
}
.faq__item-plug.down .faq__item-plug-plus span::before {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.faq__item-answer .wp-redactor {
  h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-size: 20px;
    line-height: 43px;
		margin-bottom: 10px;
	}
	p {
		font-size: 18px;
		margin: 0 0 10px 0;
    line-height: 34px;
	}
  strong, b {
    font-weight: 600;
  }
	a {
		color: #FCC9C9;
	}
	ul, ol {
		padding: 0;
		margin: 0 0 10px 0;
	}
	ul li, ol li {
		list-style-position: inside!important;
		margin: 0 0 10px 0;
		font-size: 18px;
    font-weight: 500; 
	}
}


@media only screen and (max-width: 2520px){
  .head__usluga-img img {
    width: 965px;
    height: 100vh;
  }
  .head__usluga-content {
    height: 100vh;
  }
}

@media only screen and (max-width: 1800px){
  .head__usluga-img img {
    width: 900px;
  }
}
@media only screen and (max-width: 1700px){
  .head__usluga-img img {
    width: 850px;
  }
}
@media only screen and (max-width: 1600px){
  .head__usluga-img img {
    width: 800px;
  }
}
@media only screen and (max-width: 1500px){
  .head__usluga-img img {
    width: 750px;
  }
}
@media only screen and (max-width: 1400px){
  .head__usluga-img img {
    width: 700px;
  }
}
@media only screen and (max-width: 1300px){
  .head__usluga-img img {
    width: 650px;
  }
}

@media only screen and (max-width: 1250px){
  .head__usluga-img img {
    width: 440px;
    height: 556px;
    top: 0;
  }
  .head__usluga-content {
    padding-top: 110px;
    height: auto;
  }
  .head__usluga-title {
    font-size: 28px;
  }
  .head__usluga-subtitle {
    font-size: 16px;
  }
  .head__usluga-btn-wrapper {
    margin: 40px 0;
  }
  .price__inside {
    padding: 100px 0 50px 0;
  }
  .price__inside-abs {
    right: 0;
    top: -65px;
    width: 160px;
    height: 160px;
  }
  .price__inside-img {
    display: none;
  }
  .price__inside-info {
    width: 100%;
  }
  .price__inside-item-text {
    font-size: 20px;
  }
  .price__inside-usluga {
    font-size: 20px;
  }
  .price__inside-text {
    font-size: 18px;
  }
  .list, .redactor {
    padding: 30px 0;
  }
  .list__items, .video__content {
    flex-direction: column;
    gap: 30px;
  }
  .list__item {
    width: 100%;
  }
  .video__wrapper-img {
    width: 100%;
    height: 390px;
  }
  .video__info-text {
    width: 100%;
  }
  .pulse-button__rings {
    top: 37%;
  }
  .video {
    padding: 50px 0;
  }
  .faq__item-plug-title {
    width: 90%;
    font-size: 18px;
  }
  .faq__item-plug-plus span {
    width: 25px;
  }
}

@media only screen and (max-width: 750px){
  .head__usluga-img {
    position: absolute;
    width: 300px;
    height: 487px;
    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .head__info-wrapper {
    min-height: 487px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 0 12px;
  }
  .head-inside__btn {
    padding: 14.5px 12px!important;
    border: 1px solid #fff;
    color: #fff;
    background: rgba(252, 201, 201, 0.26);
  }
  .head__usluga-btn-wrapper .btn__line {
    background: #fff;
  }
  .head__usluga-btn-wrapper {
    margin: 30px 0;
  }
  .head__usluga-subtitle {
    width: 100%;
    font-size: 14px;
  }
  .head__usluga-title {
    margin: 0 0 30px 0;
    font-size: 24px;
  }
  .head__usluga-content {
    padding-top: 90px;
  }
  .head__usluga-content .crumbs__content {
    display: none;
  }
  .price__inside-abs {
    display: none;
  }
  .price__inside-wrapper {
    margin-top: 40px;
  }
  .price__inside-text {
    font-size: 16px;
  }
  .price__inside-item-text {
    font-size: 14px;
  }
  .price__inside-item-price {
    font-size: 14px;
    width: 25%;
    text-align: right;
  }
  .price__inside-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .price__inside-items {
    margin: 30px 0;
  }
  .list__item {
    padding: 20px 20px 20px 40px;
  }
  .list__item-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .list__item-li {
    font-size: 16px;
  }
  .video__info-title {
    font-size: 28px;
  }
  .video__info-text {
    font-size: 16px;
  }
  .video__wrapper-img {
    height: 240px;
  }
  .pulse-button__rings {
    top: 29%;
  }
  .video {
    padding: 30px 0;
  }
  .faq__item-plug-title {
    font-size: 16px;
    width: 85%;
  }
  .faq__item-plug-plus span {
    width: 20px;
    right: 10px;
  }
  .faq__item-answer .wp-redactor {
    p {
      font-size: 16px;
      line-height: 26px;
    }
    ul li, ol li {
      font-size: 16px;
    }
  }
  .faq__item-plug {
    padding-bottom: 20px;
  }
}

